<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROJETOMODELODDD.DOMINIO.Properties.Settings.ProjetoModeloDDDDBConnectionString"
            connectionString="Data Source=JRCARVALHOVAIO;AttachDbFilename=C:\Aprendendo_C#\PROJETOMODELODDD\ProjetoModeloDDD\PROJETOMODELO.MVC\App_Data\ProjetoModeloDDDDB.mdf;Initial Catalog=ProjetoModeloDDDDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>