<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Produto.Properties.Settings.BDPRODUTOConnectionString"
            connectionString="Data Source=JRCARVALHOVAIO;Initial Catalog=BDPRODUTO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>